<div class="buttons">
  <a class="btn main_btn" href="/login">Login</a>
  <a class="btn main_btn" href="/registration">Register</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <img class="logo" src="/logo1.png" alt="logo" />
</nav>
<h1>An Online Platform To Make A CheckList Of Your Favourite BOOKS</h1>
