<div class="buttons">
  <a class="btn main_btn" href="/logout">LogOut</a>
</div>

<div class="header">
  <h1>Welcome <span><%= name %></span></h1>
  <p>Here Are Your BookList</p>
  <p>If You Want To Add A New Book , Then Click The "Add New" button</p>
</div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Auhor</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>fsdfsjedhrklsngfvjyhu</td>
      <td>Ottofsdfggdfghdfhdf</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <i class="fas fa-edit"></i>
      </td>
      <td><i class="fas fa-trash"></i></td>
    </tr>
  </tbody>
</table>
<div class="buttons">
  <a class="btn main_btn" href="/addBook">Add New</a>
</div>
